<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Dashboard Antrian Farmasi</title>
    <style>
      body {
        background-color: rgb(255, 255, 255);
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-primary navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="https://static.wikia.nocookie.net/logopedia/images/1/14/Rumah_Sakit_Advent_Medan.png/revision/latest?cb=20191011092233" alt="Avatar Logo" style="width: 40px" class="rounded-pill" />
          RS ADVENT MEDAN
        </a>
      </div>
    </nav>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="daftarantrian.html">Dashboard Antrian Farmasi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="obatbelumdiambil.html">Dashboard obat Belum di Ambil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tampilanantrian.html">Daftar Antrian</a>
      </li>
    </ul>

    <div id="app">

        <div class="container">
      
              <div class="py-5 col-md-12">
                <h4 class=" ">Data Antrian Resep Farmasi
                </h4>
                <table class="table table-dark table-striped">
                    <tr>
                        <th>Nomor Antrian</th>
                        <th>Nama Pasien</th>
                        <th>Tipe Obat</th>
                        <th>Waktu Pengerjaan</th>
                        <th>Tanggal dibuat</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr v-for="daftarAntrian in daftarAntrian">
                      <td>{{ daftarAntrian.noAntrian }}</td>
                      <td>{{ daftarAntrian.namaPasien }}</td>
                      <td v-if="daftarAntrian.tipeObat == 1">Obat Jadi</td>
                      <td v-if="daftarAntrian.tipeObat == 2">Obat Racikan</td>
                      <td v-if="daftarAntrian.tipeObat == 3">Obat Kronis</td>
                      <td>{{ daftarAntrian.waktuPengerjaan }} menit</td>
                      <td>{{ daftarAntrian.createdDate }}</td>
                      <td><button class="btn btn-md btn-outline-info" v-on:click="getEdit(daftarAntrian)">Sudah diambil</button></td>
                      <td><button class="btn btn-outline-danger" v-on:click="getDelete(daftarAntrian)">Delete</button></td>
                    </li>
                </table>

                <div v-if="message" class="alert alert-success" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
              </div>
        </div>
    </div>

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
      function padTo2Digits(num) {
        return num.toString().padStart(2, '0');
      }
      function diff_minutes(dt2, dt1) 
      {

        var diff =(dt2.getTime() - dt1.getTime()) / 1000;
        diff /= 60;
        return Math.abs(Math.round(diff));
        
      }
        var app = new Vue ({
            el: '#app',
            data: {
                errors: [],
                message: null,
                daftarAntrian:[],
                daftarAntrianSelesai:[],
                daftarAntrianIdEdit: null,
                daftarAntrianIdDelete: null,
                editMode: false,
                deleteMode: false,
                namaPasien: '',
                tipeObat: '',
                waktuPengerjaan: '0',
            },
            mounted: function() {
                this.getdaftarAntrian();
            },
            methods: {
                getdaftarAntrian() {
                    axios.get('https://6223b45d3af069a0f9a868bd.mockapi.io/daftarAntrian')
                        .then(response => {
                          var tempData = response.data;
                          this.daftarAntrian = tempData.filter(o => {let date = new Date(o.createdDate); return o.taken == 0;});
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
                getEdit: function (daftarAntrian) {
                    this.message = null;
                    this.daftarAntrianIdEdit = daftarAntrian.noAntrian;
                    this.updatedaftarAntrian();
                },
                getDelete: function (daftarAntrian) {
                    this.message = null;
                    this.daftarAntrianIdDelete = daftarAntrian.noAntrian;
                    this.deleteDaftarAntrian();
                },
                updatedaftarAntrian: function () {
                    axios.put(`https://6223b45d3af069a0f9a868bd.mockapi.io/daftarAntrian/${this.daftarAntrianIdEdit}`, {
                        taken:1,
                        })
                        .then(res => {
                            // handle success
                            this.message = "Your data has been updated";
                            this.getdaftarAntrian();
                        })
                        .catch(err => {
                            // handle error
                            console.log(err);
                        })
                },
                // Delete daftarAntrian
                deleteDaftarAntrian: function () {
                    axios.delete(`https://6223b45d3af069a0f9a868bd.mockapi.io/daftarAntrian/${this.daftarAntrianIdDelete}`)
                        .then(res => {
                            // handle success
                            this.message = "Your data has been deleted";
                            this.getdaftarAntrian();
                        })
                        .catch(err => {
                            // handle error
                            console.log(err);
                        })
                }
            }
        })
        
    </script>
  </body>
</html>
